<a href="https://colab.research.google.com/github/ConsultantAuracle/my-r-programing/blob/main/Daniel_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Assignment
#Access the variables of all participants except gender and name
#Access the data for the 5th row
#Access the data for the 2nd row and 3rd column

In [1]:
participants <- data.frame(
    name = c("KOB", "Temitope", "Kehinde", "Kunle", "Queenbeccah", "Samuel"),
    Gender = c("Male", "Female", "Female", "Male", "Female", "Male"),
    Age = c(15, 25, 10, 5, 30, 28),
    Height = c(75, 63, 45, 63, 72, 12),
    Weight = c(75, 60, 24, 59, 90, 11),
    MS = c("M", "M", "M", "M", "M", "S"),
    SZ = c(6, 8, 12, 6, 8, 10),
    Etinicity = c("African", "Asian", "African", "African", "African", "African")
)

print(participants)

         name Gender Age Height Weight MS SZ Etinicity
1         KOB   Male  15     75     75  M  6   African
2    Temitope Female  25     63     60  M  8     Asian
3     Kehinde Female  10     45     24  M 12   African
4       Kunle   Male   5     63     59  M  6   African
5 Queenbeccah Female  30     72     90  M  8   African
6      Samuel   Male  28     12     11  S 10   African

In [8]:
#Access the variables of all participants except gender and name
#Access the variables of all participants age
participants$Age

[1] 15 25 10  5 30 28

In [9]:
#Access the variables of all participants height
participants$Height

[1] 75 63 45 63 72 12

In [11]:
#Access the variables of all participants weight
participants$Weight

[1] 75 60 24 59 90 11

In [12]:
#Access the variables of all participants marriage status
participants$MS

[1] "M" "M" "M" "M" "M" "S"

In [13]:
#Access the variables of all participants ethnicity
participants$Etinicity

[1] "African" "Asian"   "African" "African" "African" "African"

In [14]:
#Access the variables of all participants shoe size
participants$SZ

[1]  6  8 12  6  8 10

In [7]:
#Access the data for the 5th row
participants[5,]

  name        Gender Age Height Weight MS SZ Etinicity
5 Queenbeccah Female 30  72     90     M  8  African

In [15]:
#Access the data for the 2nd row and 3rd column
participants[2,3]

[1] 25

In [ ]:
#Use dataframe to organized the animals (5) include names, fruits, foods, and habitat
#print your the outcome
#Access the data for the 1st, 3rd, and 5th animal
#play with the data

In [17]:
#Use dataframe to organized the animals (5) include names, fruits, foods, and habitat
#print your the outcome
animals <- data.frame (
  names = c("monkey", "elephant","bear","parrot", "deer"),
  fruits= c("banana", "mango","blueberry", "guava", "apple"),
  food= c("insect", "grass", "fish", "seed","grass"),
  habitat= c("jungle", "savannah", "mountain", "forest", "meadows")
)
print(animals)

     names    fruits   food  habitat
1   monkey    banana insect   jungle
2 elephant     mango  grass savannah
3     bear blueberry   fish mountain
4   parrot     guava   seed   forest
5     deer     apple  grass  meadows

In [18]:
#Access the data for the 1st, 3rd, and 5th animal
animals[1,]

  names  fruits food   habitat
1 monkey banana insect jungle

In [19]:
animals[3,]

  names fruits    food habitat
3 bear  blueberry fish mountain

In [20]:
animals[5,]

  names fruits food  habitat
5 deer  apple  grass meadows

In [22]:
#access all fruits
animals$fruits

[1] "banana"    "mango"     "blueberry" "guava"     "apple"

In [23]:
#access all habitat
animals$habitat

[1] "jungle"   "savannah" "mountain" "forest"   "meadows"